@import "tailwindcss";
@import "tw-animate-css";

/*-- GrayScale Root System Styles --*/
:root {  --color-form-text: oklch(0.985 0 0); --background-form: oklch(21% 0.034 264.665); --info-card-text: oklch(0.3426 0.0086 285.93);  --footer-text: #fff;  --footer-bg: oklch(0.9219 0 0);   --radius: 0.65rem;   --background: oklch(1 0 0);   --foreground: oklch(0.145 0 0);   --card: oklch(1 0 0);   --card-foreground: oklch(0.145 0 0);   --popover: oklch(1 0 0);   --popover-foreground: oklch(0.145 0 0);   --primary: oklch(0.205 0 0);   --primary-foreground: oklch(0.985 0 0);   --secondary: oklch(0.97 0 0);   --secondary-foreground: oklch(0.205 0 0);   --muted: oklch(0.97 0 0);   --muted-foreground: oklch(0.556 0 0);   --accent: oklch(0.97 0 0);   --accent-foreground: oklch(0.205 0 0);   --destructive: oklch(0.577 0.245 27.325);   --border: oklch(0.922 0 0);   --input: oklch(0.922 0 0);   --ring: oklch(0.708 0 0);   --chart-1: oklch(0.646 0.222 41.116);   --chart-2: oklch(0.6 0.118 184.704);   --chart-3: oklch(0.398 0.07 227.392);   --chart-4: oklch(0.828 0.189 84.429);   --chart-5: oklch(0.769 0.188 70.08);   --radius: 0.625rem;   --sidebar: oklch(0.985 0 0);   --sidebar-foreground: oklch(0.145 0 0);   --sidebar-primary: oklch(0.205 0 0);   --sidebar-primary-foreground: oklch(0.985 0 0);   --sidebar-accent: oklch(0.97 0 0);   --sidebar-accent-foreground: oklch(0.205 0 0);   --sidebar-border: oklch(0.922 0 0);   --sidebar-ring: oklch(0.708 0 0); }
.dark-greyscale {   --background: oklch(0.145 0 0);   --foreground: oklch(0.985 0 0);   --card: oklch(0.205 0 0);   --card-foreground: oklch(0.985 0 0);   --popover: oklch(0.205 0 0);   --popover-foreground: oklch(0.985 0 0);   --primary: oklch(0.922 0 0);   --primary-foreground: oklch(0.205 0 0);   --secondary: oklch(0.269 0 0);   --secondary-foreground: oklch(0.985 0 0);   --muted: oklch(0.269 0 0);   --muted-foreground: oklch(0.708 0 0);   --accent: oklch(0.269 0 0);   --accent-foreground: oklch(0.985 0 0);   --destructive: oklch(0.704 0.191 22.216);   --border: oklch(1 0 0 / 10%);   --input: oklch(1 0 0 / 15%);   --ring: oklch(0.556 0 0);   --chart-1: oklch(0.488 0.243 264.376);   --chart-2: oklch(0.696 0.17 162.48);   --chart-3: oklch(0.769 0.188 70.08);   --chart-4: oklch(0.627 0.265 303.9);   --chart-5: oklch(0.645 0.246 16.439);   --sidebar: oklch(0.205 0 0);   --sidebar-foreground: oklch(0.985 0 0);   --sidebar-primary: oklch(0.488 0.243 264.376);   --sidebar-primary-foreground: oklch(0.985 0 0);   --sidebar-accent: oklch(0.269 0 0);   --sidebar-accent-foreground: oklch(0.985 0 0);   --sidebar-border: oklch(1 0 0 / 10%);   --sidebar-ring: oklch(0.556 0 0); }

/*-- Styled Root System Styles: Dark --*/
/*--dark theme break--*/
 .dark {
     --background: oklch(0.141 0.005 285.823);
     --foreground: oklch(0.985 0 0);
     --card: oklch(0.21 0.006 285.885);
     --card-foreground: oklch(0.985 0 0);
     --popover: oklch(0.21 0.006 285.885);
     --popover-foreground: oklch(0.985 0 0);
     --primary: oklch(0.646 0.222 41.116);
     --primary-foreground: oklch(0.98 0.016 73.684);
     --secondary: oklch(0.274 0.006 286.033);
     --secondary-foreground: oklch(0.985 0 0);
     --muted: oklch(0.274 0.006 286.033);
     --muted-foreground: oklch(0.705 0.015 286.067);
     --accent: oklch(0.274 0.006 286.033);
     --accent-foreground: oklch(0.985 0 0);
     --destructive: oklch(0.704 0.191 22.216);
     --border: oklch(1 0 0 / 10%);
     --input: oklch(1 0 0 / 15%);
     --ring: oklch(0.646 0.222 41.116);
     --chart-1: oklch(0.488 0.243 264.376);
     --chart-2: oklch(0.696 0.17 162.48);
     --chart-3: oklch(0.769 0.188 70.08);
     --chart-4: oklch(0.627 0.265 303.9);
     --chart-5: oklch(0.645 0.246 16.439);
     --sidebar: oklch(0.21 0.006 285.885);
     --sidebar-foreground: oklch(0.985 0 0);
     --sidebar-primary: oklch(0.646 0.222 41.116);
     --sidebar-primary-foreground: oklch(0.98 0.016 73.684);
     --sidebar-accent: oklch(0.274 0.006 286.033);
     --sidebar-accent-foreground: oklch(0.985 0 0);
     --sidebar-border: oklch(1 0 0 / 10%);
     --sidebar-ring: oklch(0.646 0.222 41.116);
     --footer-bg: #141d2a;
     --footer-text: oklch(27.9% 0.077 45.635);
     --info-card-text: oklch(0.985 0 0);
     --background-form: oklch(21% 0.034 264.665);
 }

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --footer-bg: #141d2a;
    --info-card-text: var(--color-foreground);
}

html, body {
    height: 100%;
    overflow-x: hidden;
}

.background .shape {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    z-index: -10;
}

.shape:first-child{
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: 568px;
    top: 200px;
    z-index: -11;
}

.shape:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: 390px;
    bottom: 75px;
    z-index: -11;
}

#profileForm {
    width: 50%;
    height: fit-content;
    min-height: 500px;
    max-height: 900px;
    background-color: rgba(255,255,255,0.13);
    position: relative;
    transform: translate(-50%,-1%);
    top: 58%;
    left: 44%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
    z-index: 10;
}

.orgRoleStyle {
    letter-spacing: .15rem;
}

.profileForm_shape_style:first-child {
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: 182px;
    top: -90px;
    z-index: -11;
}

.profileForm_shape_style:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: 370px;
    bottom: -72px;
    z-index: -11;
}

.manageOrg_shape_style:first-child {
    background: linear-gradient(
            #1845ad,
            #23a2f6
    );
    left: 777px;
    top: -100px;
    z-index: -11;
}

.manageOrg_shape_style:last-child{
    background: linear-gradient(
            to right,
            #ff512f,
            #f09819
    );
    right: -115px;
    bottom: -72px;
    z-index: -11;
}

button{
    background-color: #ffffff;
    color: #080710;
    border-radius: 5px;
    cursor: pointer;
}

/* CSS */
.button-87 {
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    display: block;
    border: 0;
    font-weight: 700;
    box-shadow: 0 0 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-87:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.button-87:active {
    transform: scale(0.95);
}

.requiredField {
    color: red;
}

.formLabel {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

.formInput {
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.formInputDropdown {
    display: block;
    height: 50px;
    width: fit-content;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}

.uploadFit {
    padding: 1rem;
    cursor: pointer;
}

.multiUnitBlock {
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    margin: 12px 0 0 0;
}

.formCheckboxLabel {
    margin-top: 0;
    margin-bottom: 0;
}

.formCheckbox {
    width: 50px;
    height: 25px;
}

.deletePropertyBtn,
.editPropertyBtn {
    cursor: pointer;
    background-color: #ddd;
}

.tableRowData {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.tableRowDataLink {
    color: #1845ad;
}

.tableRowDataImg {
    display: flex;
    align-items: center;
    justify-content: center;
}

.actionsRow {
    flex-direction: row;
    align-items: center;
    height: inherit;
}

.propertyTitleRow,
.propertyLocationRow {
    justify-content: start!important;
}

.tooltipIcon {
    cursor: help;
}

button.w-full.text-left {
    color: var(--color-foreground);
    background-color: transparent;
}


.overrideActionBtnStyles {
    background-color: transparent!important;
    color: var(--color-foreground);
    text-align: start;
    margin: 0!important;
    padding: 0!important;
    font-weight: normal;
}

.cl-footerAction,
.cl-footerAction__signIn {
    visibility: hidden!important;
}

.linkedToCronContent {
    color: var(--color-foreground);
}

.dropdownFieldFit {
    width: fit-content;
}

.lnsExportDisable {
    background-color: #cccccc; /* Greyed out background */
    color: #666666; /* Darker text color */
    cursor: not-allowed; /* Change cursor to indicate it's not clickable */
    opacity: 0.7; /* Make it slightly transparent */
}

.alignContentCenter {
    align-items: center;
    align-self: center;
}

#address.address.city.selected {
    width: 100%;
}

.header__logo {
    color: #f08000;
    width: 25px;
    height: 25px!important;
}

.linkContainer__header {
    background-color: rgb(221, 221, 221);
}

.borderBOverride {
    border-bottom-color: #5E5E5E;
}

.letterSpace {
    letter-spacing: .05em;
}

.lightDarkFormBG {
    background-color: var(--background-form);
}

.lightDarkFormText {
    color: var(--color-form-text);
}

.lightDarkFormTextInverted {
    color: #000;
}

.staticPageLink {
    color: var(--chart-1);
}