.tech-stack-section,
.privacy-policy-section,
.toc-section,
.our-customers-section,
.futureRoadmap-section,
.about-section {
    min-height: 35rem;
}

@media screen and (max-width: 600px) {
    .mobile-override-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}